ini
[MASTER]
# Указываем линтеру, где искать ваши модули
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    import-error,
    invalid-name,
    wrong-import-order

[REPORTS]
output-format=colorized

[BASIC]
class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]{2,30}|(_?[A-Z][A-Z0-9_]*))$
