[MASTER]
# Указываем, где искать модули, чтобы избежать ошибок импорта (F0001)
init-hook='import sys; sys.path.append(".")'
[MASTER]
# Добавляет текущую папку в пути поиска
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
# Отключаем слишком дотошные проверки, если нужно
disable=
    missing-module-docstring,
    missing-function-docstring,
    too-few-public-methods

[MESSAGES CONTROL]
# Отключаем самые назойливые проверки для автотестов:
# C0114, C0115, C0116 - Отсутствие докстрингов (модуль, класс, функция)
# C0103 - Ошибки именования (разрешает ADMIN_LINK капсом внутри классов)
# R0903 - Слишком мало публичных методов (типично для Page Object)
# C0411 - Порядок импортов (иногда конфликтует с форматированием IDE)
# W0106 - Выражение никуда не присвоено (бывает при использовании expect)
disable=
    C0114,
    C0115,
    C0116,
    C0103,
    R0903,
    C0411,
    W0106,
    E0401

[REPORTS]
# Не выводить статистику, только список ошибок
reports=no

[FORMAT]
# Максимальная длина строки (стандарт 120 для комфортной разработки)
max-line-length=120
